
nav {
    width: 100vw;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #140c2e;
    position: fixed;
    z-index: 100;
}

nav a {
    color: white;
    font-size: 1rem;
}

nav .myAnime {
    font-size: 2rem;
}

.linkDiv {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 40px;
}


.logo {
    padding: 20px;
    margin-left: 40px;
}